<!--<div (click)="">-->
<!--</div>-->

  <h4>Brand</h4>
  <mat-form-field>
    <mat-label>Choose brand</mat-label>
    <mat-select [disabled]="!this.isTransportBrandsLoaded">
      <mat-option value="option" (click)="makeIsTransportModelsLoadedFalse()">None</mat-option>
      <mat-option value="option" (click)="findTransportModelsByTransportBrandId(transportBrand.id)"
                  *ngFor="let transportBrand of transportBrands; let i = index">
        {{transportBrand.brandName}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <h4>Model</h4>
  <mat-form-field>
    <mat-label>Choose model</mat-label>
    <mat-select [disabled]="!this.isTransportModelsLoaded">
      <mat-option value="option" (click)="makeIsGenerationsTransportLoadedFalse()">None</mat-option>
      <mat-option value="option" (click)="findGenerationsTransportByTransportModelId(transportModel.id)"
                  *ngFor="let transportModel of transportModels; let i = index">
        {{transportModel.modelName}}

      </mat-option>
    </mat-select>
  </mat-form-field>

  <h4>Generation</h4>
  <mat-form-field>
    <mat-label>Choose generation</mat-label>
      <mat-select [disabled]="!this.isGenerationsTransportLoaded">
      <mat-option value="option">None</mat-option>
      <mat-option value="option"
                  *ngFor="let generationTransport of generationsTransport; let i = index">
        {{generationTransport.generationName}}
      </mat-option>
    </mat-select>
  </mat-form-field>


