<table class="table-class">
  <tr>
    <td>
      <h4>Brand</h4>
      <mat-form-field>
        <mat-label>Choose brand</mat-label>
        <mat-select [disabled]="!this.isTransportBrandsLoaded">
          <mat-option value="option" (click)="makeIsTransportModelsLoadedFalse();
                                              addBrandIdToHttpParameters(0)">
            None
          </mat-option>
          <mat-option value="option" (click)="findTransportModelsByTransportBrandId(transportBrand.id);
                                              addBrandIdToHttpParameters(transportBrand.id)"
                      *ngFor="let transportBrand of transportBrands">
            {{transportBrand.brandName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </td>
    <td>
      <h4>Model</h4>
      <mat-form-field>
        <mat-label>Choose model</mat-label>
        <mat-select [disabled]="!this.isTransportModelsLoaded">
          <mat-option value="option" (click)="makeIsGenerationsTransportLoadedFalse();
                                              addModelIdToHttpParameters(0)">
            None
          </mat-option>
          <mat-option value="option" (click)="findGenerationsTransportByTransportModelId(transportModel.id);
                                              addModelIdToHttpParameters(transportModel.id)"
                      *ngFor="let transportModel of transportModels">
            {{transportModel.modelName}}

          </mat-option>
        </mat-select>
      </mat-form-field>
    </td>
    <td>
      <h4>Generation</h4>
      <mat-form-field class="generation-form-field">
        <mat-label>Choose generation</mat-label>
        <mat-select [disabled]="!this.isGenerationsTransportLoaded" class="generation-mat-select">
          <mat-option value="option" (click)="makeIsTransportParametersLoadedFalse();
                                              addGenerationIdToHttpParameters(0)">
            None
          </mat-option>
          <table class="generation-form-table">
            <tr *ngFor="let rowGenerationTransport of groupGenerationsTransport">
              <td *ngFor="let generationTransport of rowGenerationTransport">
                <mat-option value="option" (click)="findTransportParametersByGenerationTransportId(generationTransport.id);
                                                    addGenerationIdToHttpParameters(generationTransport.id)">
                  <img class="generation-image" [src]="formatImage(generationTransport.image) ||
                  'https://thumbs.dreamstime.com/b/car-line-drawing-sedan-transportation-vehicle-outline-side-view-website-icon-template-branding-advertising-isolated-vector-203947269.jpg'" alt="post image"
                  />
                  <div class="generation-text-mat-option">
                    {{generationTransport.generationName}}, {{generationTransport.startReleaseYear}}..{{generationTransport.endReleaseYear}}
                  </div>
                </mat-option>
              </td>
            </tr>
          </table>
        </mat-select>
      </mat-form-field>
    </td>
  </tr>
  <div>
    <h4>Parameters</h4>
  </div>
  <tr>
    <td>
      <h4>Start release year</h4>
      <mat-form-field>
        <mat-label>Choose start release year</mat-label>
        <mat-select [disabled]="!this.isTransportBrandsLoaded">
          <mat-option value="option" (click)="startReleaseYearSelected(0)">
            None
          </mat-option>
          <mat-option value="option" *ngFor="let startReleaseYear of releaseYears"
                      [disabled]="getSelectedOrDefaultEndReleaseYear() < startReleaseYear"
                      (click)="startReleaseYearSelected(startReleaseYear);
                               addStartReleaseYearToHttpParameters(startReleaseYear)">
            {{startReleaseYear}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </td>
    <td>
      <h4>End release year</h4>
      <mat-form-field>
        <mat-label>Choose end release year</mat-label>
        <mat-select [disabled]="!this.isTransportBrandsLoaded">
          <mat-option value="option" (click)="endReleaseYearSelected(0)">
            None
          </mat-option>
          <mat-option value="option" *ngFor="let endReleaseYear of releaseYears"
                      (click)="endReleaseYearSelected(endReleaseYear);
                               addEndReleaseYearToHttpParameters(endReleaseYear)"
                      [disabled]="getSelectedOrDefaultStartReleaseYear() > endReleaseYear">
            {{endReleaseYear}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </td>
    <td>
      <h4>Body type</h4>
      <mat-form-field>
        <mat-label>Choose body type</mat-label>
        <mat-select>
          <mat-option value="option" (click)="addBodyTypeToHttpParameters('')">
            None
          </mat-option>
          <mat-option value="option" *ngFor="let bodyType of transportParametersEnums.get('bodyTypes')"
                                      (click)="addBodyTypeToHttpParameters(bodyType)">
            {{bodyType}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </td>
    <td>
      <h4>Transmission type</h4>
      <mat-form-field>
        <mat-label>Choose transmission type</mat-label>
        <mat-select>
          <mat-option value="option" (click)="addTransmissionTypeToHttpParameters('')">
            None
          </mat-option>
          <mat-option value="option" *ngFor="let transmissionType of transportParametersEnums.get('transmissionTypes')"
                      (click)="addTransmissionTypeToHttpParameters(transmissionType)">
            {{transmissionType}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </td>
    <td>
      <h4>Engine type</h4>
      <mat-form-field>
        <mat-label>Choose engine type</mat-label>
        <mat-select>
          <mat-option value="option" (click)="addEngineTypeToHttpParameters('')">
            None
          </mat-option>
          <mat-option value="option" *ngFor="let engineType of transportParametersEnums.get('engineTypes')"
                      (click)="addEngineTypeToHttpParameters(engineType)">
            {{engineType}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </td>
  </tr>
  <tr>
    <div class="example-button-row">
      <button mat-raised-button color="primary" (click)="showPosts()">
        <div>
          Show {{showPostsCount()}} posts
        </div>
      </button>
    </div>
  </tr>
</table>






