.generation-image {
  border-radius: 60%;
  width: 160px;
  height: 115px;
  display: inline-flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

mat-form-field {
  width: auto;
  display: inline-block;
}

.generation-form-field {
  width: 645px;
  display: flex;
}

.generation-text-mat-option {
  display: flex;
  text-align: center;
}

.table-class {
  display: inline-block;
}

